/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d4af37;
  --ifm-color-primary-dark: #c6a12b;
  --ifm-color-primary-darker: #bb9828;
  --ifm-color-primary-darkest: #9a7d21;
  --ifm-color-primary-light: #d9b84d;
  --ifm-color-primary-lighter: #dbbc58;
  --ifm-color-primary-lightest: #e2c979;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d4af37;
  --ifm-color-primary-dark: #c6a12b;
  --ifm-color-primary-darker: #bb9828;
  --ifm-color-primary-darkest: #9a7d21;
  --ifm-color-primary-light: #d9b84d;
  --ifm-color-primary-lighter: #dbbc58;
  --ifm-color-primary-lightest: #e2c979;
}

/* set a max width for all iframes */
iframe
{
  max-width: 100% !important;
}